<form>
  <div class="form-group">
    <div class="form-row">
      <label for="defect_free">Defect Free
        <input class="form-control-range" type="range" min=0 max=10 id="defect_free" name="defect_free"/>
      </label></div>

    <div class="form-row"><label for="great_ux">Great UX
      <input class="form-control-range" type="range" min=0 max=10 id="great_ux" name="great_ux"/>
    </label></div>

    <div class="form-row"><label for="visually_stunning">Visually Stunning
      <input class="form-control-range" type="range" min=0 max=10 name="visually_stunning" id="visually_stunning"/></label>
    </div>

    <div class="form-row"><label for="lots_of_features">Lots of Features
      <input class="form-control-range" type="range" min=0 max=10 name="lots_of_features" id="lots_of_features"/>
    </label></div>

    <div class="form-row"><label for="finish_fast">Finish Fast
      <input class="form-control-range" type="range" min=0 max=10 name="finish_fast" id="finish_fast"/>
    </label></div>

    <div class="form-row">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </div>
</form>
