.jumbotron
  p This is a small application to automate the "risk slider" exercise where you have two or more business goals, but you are constrained in your ability to deliver them all. Which ones are more important?

= link_to "New Exercise", new_exercise_path, class: "btn btn-primary"

/ = react_component("HelloWorldApp", props: @hello_world_props, prerender: false)
